{% extends "main/base.html" %}
{% load static %}

{% block title %}Sparkling - Регистрация{% endblock %}

{% block body_class %}signup{% endblock %}

{% block main_block %}
    <section class="banner">
        <div class="banner-overlay">
            <div class="banner__content">
                <h1>Регистрация</h1>
            </div>
        </div>
    </section>
    <main>
    Введите данные для регистрации
        <form method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ user_data_form.as_p }}
            <button class="button" type="submit">Зарегистрироваться</button>
        </form>
    </main>
{% endblock %}