{% extends "main/base.html" %}
{% load static %}

{% block title %}Sparkling - О нас{% endblock %}

{% block body_class %}about{% endblock %}

{% block main_block %}
    <section class="banner">
        <div class="banner-overlay">
            <div class="banner__content">
                <h1>О нас</h1>
            </div>
        </div>
    </section>
    <main>
        <h2>Наша история и идеалы</h2>
        <div class="p-with-img">
            <img src="{% static 'img/about-1.jpg' %}">
            <div>
                <p>Sparkling — это сетевое сообщество, социальная сеть, в которой умышленно стираются грани между ведением блога и дружбой в социальных сетях. С 2020 года Sparkling стал домом для широкого круга творческих личностей, разделяющих общие интересы, желающих встретить новых друзей и проявить себя.</p>
                <ul class="list-with-checks">
                    <li>Sparkling поддерживает взаимодействие между пользователями и самовыражение, предлагая дружественный интерфейс.</li>
                    <li>Из-за уникального сочетания блог-платформы и социальных медиа Sparkling по-разному развивается в разных странах.</li>
                    <li>В России Sparkling составляет подавляющее большую часть блогосферы и служит площадкой для лучших российских блогов.</li>
                </ul>
            </div>
        </div>
        <div class="p-with-img">
            <div>
                <p>В Sparkling много блогов по таким темам, как политика, развлечения, мода, литература и дизайн. В Sparkling творчество и разнообразие являются основными чертами пользователей.</p>
                <ul class="list-with-checks">
                    <li>Мы верим в самовыражение и предоставляем инструменты, которые вы можете использовать, чтобы общаться непосредственно и творчески.</li>
                    <li>Мы верим, что у вас должна быть возможность создать что-то своё, выразить себя, свои мысли и чувства.</li>
                    <li>Мы верим в многообразие, приветствуем и уважаем разные мнения, разные культуры и перспективы.</li>
                    <li>Мы верим в многообразие, приветствуем и уважаем разные мнения, разные культуры и перспективы.</li>
                    <li>Мы верим в многообразие, приветствуем и уважаем разные мнения, разные культуры и перспективы.</li>
                </ul>
            </div>
            <img src="{% static 'img/about-2.jpg' %}">
        </div>
        <div class="p-with-img">
            <img src="{% static 'img/about-3.jpg' %}">
            <div>
                <p>Sparkling объединяет самых разных людей. Для нас главное - ваша свобода самовыражения, мы призваны помочь вам делиться своим многообразием с остальными.</p>
                <ul class="list-with-checks">
                    <li>Мы верим в творчество и призываем воспользоваться возможностями, которые предлагает Sparkling, чтобы поделиться своим творчеством с друзьями.</li>
                    <li>Не важно, что это будет - писательство, создание картинок пользователя, дизайн стилей — у каждого своё. Мы стремимся сделать так, чтобы делиться своими идеями с миром вам было легко и просто.</li>
                    <li>Мы верим в открытость сообщества и знаем, что Sparkling процветает благодаря своим верным пользователям.</li>
                    <li>Наша задача - превращать ваши пожелания в наши технические решения. Мы поддерживаем с сообществом партнёрские отношения, чтобы улучшить сервис для всех и каждого.</li>
                </ul>
            </div>
        </div>

        <h2>Наша команда</h2>
        <div class="inline-three-obj">
            <div>
                <span class="inline-three-obj__img">
                    <img src="{% static 'img/1.jpg' %}">
                </span>
                <h3>Kate Hampton</h3>
                <p>Копирайтер</p>
            </div>
            <div>
                <span class="inline-three-obj__img">
                    <img src="{% static 'img/2.jpg' %}">
                </span>
                <h3>Richard Cook</h3>
                <p>Босс</p>
            </div>
            <div>
                <span class="inline-three-obj__img">
                    <img src="{% static 'img/3.jpg' %}">
                </span>
                <h3>Kevin Peters</h3>
                <p>Программист</p>
            </div>
        </div>
    </main>
{% endblock %}